@font-face {
	font-family: Arial Narrow;
	src: url('../Fonts/arial_narrow_7.ttf');
	font-weight: normal;
	font-style: normal;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
} 

body {
	background: #777;
}

header {
	font-family: Agenda-Medium, Agenda, Arial Narrow, sans-serif;
	font-size: 500%;
	letter-spacing: 1.3rem;
	color: #DDAA4A;
	margin-bottom: 2rem;
}

header, nav, footer {
	text-align: center;
}

ul#angled-nav {
	font-family: Agenda-Medium, Agenda, Arial Narrow, sans-serif;
	text-transform: uppercase;
	font-size: 3rem;
	transform: skewX(-15deg);
	line-height: 0;
	padding-left: 0;
}

ul#angled-nav li{
	list-style: none;
	width: 16rem;
	box-shadow: 8px 0 3px rgba(0, 0, 0, 0.2);
	position: relative;
	background-color: #ff0;
	background-size: 100% 120%;
	background-repeat: no-repeat;
	overflow: hidden;
}

ul#angled-nav li, ul#angled-nav li a {
	display: inline-block;
	transition: .8s;
}

#angled-nav li a {
	text-decoration: none;
	transform: skewX(15deg);
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	letter-spacing: .25rem;
	width: 24rem;
	background: rgba(0, 0, 0, 0.3);
	margin-left: -2rem;
	padding: 3rem 3rem;
}

#everest {
	z-index: 5;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/everest.jpg');
}

#mars {
	z-index: 4;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mars.jpg');
	left: -20px;
}
#belize {
	z-index: 3;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belize.jpg');
	left: -40px;
}
#monaco {
	z-index: 2;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/monaco.jpg');
	left: -60px;
}

#angled-nav li:hover {
	transform: translateX(10px);
}

#angled-nav li:hover a {
	background: rgba(0, 0, 0, 0);
}

footer {
	font-size: medium;
	font-style: oblique;
	border-top: 1px dashed #000;
	margin: 0 auto;
	margin-top: 3rem;
	padding-top: 2rem;
	width: 90%;
}