html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	min-height: 100%;
	font-size: 1.6rem;
	margin: 2.5%;
	background-color: hsla(190, 60%, 65%, 1);
	background-image: url('../images/back1.jpg'),
	url('../images/back4.jpg');
	background-repeat:  repeat-x, no-repeat;
	background-size: auto, cover;
	background-position: center bottom, left top;
	background-blend-mode: overlay, luminosity;

}

div.wrapper {
	background-color: rgba(90, 125, 80, 1);
	height: 25vw;
	max-height: 300px;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center
}

.box {
	width: 15vw;
	height: 15vw;
	max-width: 190px;
	max-height: 190px;
	/* mix-blend-mode: multiply; */
}

#black {
	background-color: black;
}

#grey {
	background-color: grey;
}

#white {
	background-color: white;
}

#profile img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #000;
	mix-blend-mode: luminosity;
	transition: border 0.4s linear;
}

#profile img:hover {
	border: 2px solid #000;
	mix-blend-mode: normal;
}
