html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *:before, *:after {
	box-sizing: inherit;
} 

div {
	width: 96vw;
	margin: 0 auto;
	border: solid;
	padding: 20px 2rem;
}

h1 {
	font-size: 10vh;
}

p {
	width: 100%;
	text-align: justify;
	font-size: 2vw;
}

div.overflowfix {
	overflow: hidden;
}

img {
	max-width: 300px;
	float: right;
	margin-left: 3rem;
}

@media (max-width: 769px) {
	img {
		display: block;
		float: none;
		margin: 0 auto;
	}

	h1 {
		text-align: center;
	}

	p {
		width: 70%;
		margin: 0 auto;
		font-size: 4vmax;
		word-break: break-all;
	}
}