html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	background: #fff;
	background: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg') no-repeat center center fixed;
	background-blend-mode: darken;
	transition: 3s;
}

html * { transition: none; }

*, *::before, *::after {
	box-sizing: inherit;
} 

body {
	margin: 0;
	font-family: Edelsans, sans-serif;
	font-size: 2rem;
	color: #fff;
	line-height: 1.5;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}

p.message {
	background-color: #F00;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	color: rgb(0, 0, 0);
	font-style: oblique;
}

header, aside, footer {
	background: rgb(82, 127, 94);
}

article {
	background: rgb(80, 133, 255);
}

.grid > * {
	padding: 30px;
	border-radius: 10px;
	border: 1px solid #000;
}

.grid {
	display: grid;
	grid-template-columns: [content-start] 1fr [content-end];
	grid-template-rows: auto [content-start] auto [content-end];
	grid-gap: 20px;
}

@media (min-width: 740px) and (max-width: 1200px) {
	.grid {
		grid-template-columns: 200px [content-start] 600px [content-end];
		grid-template-rows: minmax(auto, 1fr) 5fr 1fr;
		justify-content: center;
		height: 98vh;
	}

	header {
		grid-column: 1 / 3;
	}

	aside {
		grid-column: 1;
		grid-row: 2;
	}

	article {
		grid-column: [content-start];
		grid-row: [content-start];
	}

	footer {
		grid-row: 3;
		grid-column: 1 / 3;
	}

}

@media (min-width: 1201px) {
	.grid {
		grid-template: 
						"header aside" 2fr
						"content content" 6fr
						"footer footer" 1fr
						/ 1fr 1fr;
	}

	.grid aside {
		background-color: #000;
		grid-area: aside;
	}

	.grid footer {
		grid-area: footer;
	}

	.grid article {
		grid-row: 3;
		position: relative;
		grid-area: content;
	}

	.grid article h1 {
		border: 2px dashed;
		position: absolute;
		top: -10px;
		right: 90px;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://thenewcode.com/assets/images/bugs.jpg');
		background-color: rgba(0, 100, 0, 0.4);
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		padding: 100px;
		border-radius: 10%;
		filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.6)) 
				drop-shadow(0px -10px 3px rgba(0, 0, 0, 0.6))
				drop-shadow(-10px 0px 3px rgba(0, 0, 0, 0.6))
				drop-shadow(10px 0px 3px rgba(0, 0, 0, 0.6));
		transition: background 0.3s;
	}

	.grid article h1:hover {
		background-color: hsla(84, 100%, 50%, 0.4);
	}
}

@supports(display: grid) {
	.message {
		display: none;
	}
}