html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	background: url('http://placekitten.com/800/600') no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	background-color: hsla(60, 50%, 90%, 0.6);
}

html, body {
	min-height: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
} 

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	--box-shadow-original:	0 2px 4px rgba(0, 0, 0, 0.45);
	--box-shadow-hover:		0 6px 18px rgba(0, 0, 0, 0.9);
	color: white;
}

h1 {
	font-weight: 200;
	margin: 0;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

code {
	background: hsl(0, 0%, 100%);
	padding: 0.3rem;
	font-family: monospace;
	font-weight: 600;
	color: black;
}

main {
	width: 80%;
	min-width: max-content;
	margin: 6rem auto;
	padding: 3rem 1rem;
	background: hsl(0, 0%, 50%, 0.3);
	display: flex;
	justify-content: space-around;
}

div.box-shadow-container,
div.pseudo-element-container {
	text-align: center;
	width: 400px;
	--margin: 5rem;
}

div.box-shadow-container {
	margin-right: var(--margin);
}

div.pseudo-element-container {
	margin-left: var(--margin);
}
.flex-container {
	/* border: solid; */
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
}

.flex-item {
	background: hsl(0, 0%, 100%, .85);
	width: 100px;
	height: 100px;
	border-radius: 5px;
}

.flex-item:first-child { background: hsl(0, 0%, 100%, .6); }
.flex-item:last-child { background: hsl(0, 0%, 100%, 1); }

.make-it-slow .flex-item,
.make-it-fast .flex-item {
	box-shadow: var(--box-shadow-original);
}

.make-it-slow .flex-item {
	transition: box-shadow 0.8s ease-in-out;
}

.make-it-slow .flex-item:hover  {
	box-shadow: var(--box-shadow-hover);
}

.make-it-fast .flex-item {
	transition: all .3s cubic-bezier(0.17, 0.34, 0.44, 1);
}

.make-it-fast .flex-item:hover {
	transform: scale(1.3, 1.3);
}

.make-it-fast .flex-item::after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	box-shadow: var(--box-shadow-hover);
	opacity: 0;
	border-radius: 5px;
	z-index: -1;
	/* transition: opacity .3s ease-in-out; */
	transition: all 0.3s cubic-bezier(0.27, 0.44, 0.64, 1);
}

.make-it-fast .flex-item:hover::after {
	opacity: 1;
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 940px) 
{
	/* Styles */

	main {
		flex-direction: column;	
		align-items: center;
	}

	div.box-shadow-container, div.pseudo-element-container {
		margin: 1rem 0;
		justify-content: center;
	}
}