html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
} 

#slidy-container {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}

@media screen and (max-width: 600px) {
	#slidy-container figcaption {
		font-size: 1rem !important;
	}
}