html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {v
	box-sizing: inherit;
} 
fg
body {
	font-family: Edelsans, sans-serif;
	font-size: 2rem;
	background: #000;
	color: #fff;
	line-height: 1.5;
}

img {
	border:  22px double hsla(300, 100%, 100%, 0.7);
	padding: 0 2rem;
}



