html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
} 

body {
	margin: 0;
}

div {
	text-align: center;
	position: relative;
}

div h1 {
	margin: 0;
	font-size: 20vw;
	text-transform: uppercase;
	font-family: sans-serif;
	line-height: 1.9;
}

.dark h1 {
	color: #fff;
}
.dark {
	background-color: #000;
}
.light {
	background-color: #fff;
}
.light h1 {
	color: #000;
	font-size: 19vw;
}
div img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.dark img {
	mix-blend-mode: darken;
}
.light img {
	mix-blend-mode: lighten;
}
