html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
} 

body {
	margin: 0;
	min-height: 100%;
}

div {
	text-align: center;
	position: relative;
}

div h1 {
	margin: 0;
	font-size: 20vw;
	text-transform: uppercase;
	font-family: sans-serif;
	line-height: 1.9;
	-webkit-background-size: cover;
	background-size: cover;
}

.dark h1 {
	color: transparent;
	-webkit-background-clip: text;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/chicago.jpg");
}
.dark {
	background-color: #000;
}
.light {
	background-color: #fff;
}
.light h1 {
	color: transparent;
	font-size: 19vw;
	-webkit-background-clip: text;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/houston.jpg");
}
/* div img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.dark img {
	mix-blend-mode: darken;
}
.light img {
	mix-blend-mode: lighten;
}
 */