html {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
} 

#video-compare-container {
	display: inline-block;
	line-height: 0;
	position: relative;
	width: 100%;
	padding-top: 42.3%;
}

#video-compare-container > video {
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%;
}

#video-clipper {
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

#video-clipper video {
	width: 200%;
	position: absolute;
	height: 100%;
}